.navbar {
  background-color: var(--theme-color);
  color: var(--text-primaryColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.2rem 3rem;
}

.logo {
  width: 3rem;
  object-fit: contain;
}

.header__title {
  font-size: 2.3rem;
  margin: 0;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar__brand-title {
  display: flex;

  font-size: var(--text-header-size);
}

.navbar__brand-title h3 {
  margin: 0;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__list-item {
  margin-left: 1.5rem;
  cursor: pointer;
}

.navbar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid grey; */
}

.navbar--icon {
  margin-right: 5px;
  font-size: 1.3rem;
}

.navbar__toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .navbar__navbar-links {
    width: 100%;
    display: none;
  }

  .navbar__list {
    margin-top: 1rem;
  }
  .navbar__list-item {
    padding: 0.7rem 0.7rem;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__list {
    flex-direction: column;
  }

  .navbar__navbar-links.active {
    display: flex;
  }
}

/* ----- Cart ------- */
.navbar__cart {
  position: relative;
  /* border: 1px solid; */
}
.headerCart {
  height: fit-content;
  width: fit-content;
  /* position: absolute; */
  top: -15px;
  right: -20px;
  background-color: rgb(216, 216, 216);
  border-radius: 10%;
  font-size: 12px;
  padding: 3px;
  color: black;
  font-weight: bold;
  margin-left: 5px;
}

/* navbar dropdown */
.navbar__dropdown {
  position: relative;
}

.dropdown_box {
  position: absolute;
  right: 0;
  top: 3rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 11px 18px 60px 0px rgb(180 177 177);
  overflow: hidden;
}

.dropdown-item {
  color: var(--theme-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  color: #fff;
  background-color: rgb(145, 145, 145);
}

div.header__signin_a {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
